#form {
    width: 700px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid red;
    display: -webkit-box;
}
.textbox{
    height: 22px;
}
*{
    font-size:12px;
}
#right{
    width: 200px;
    height: 450px;
   // border: 1px solid red;
}
#left{
    padding: 20px 0px 0px 10px;
    width: 280px;
    height: 450px;
   // border: 1px solid red;
}
#imgReview{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
#buttons{

    width: 100px;
    margin: auto;
 //   border: 1px solid red;
}